*, *::before, *::after, h6, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 50vw;
    height: 120vh;
    background: url(../img/crab.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
}

.screen{
    display: flex;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    margin: 200px auto 100px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    flex-direction: row;
    gap: 50vh;
}

.container .card{
    position: relative;
    width: 350px;
    margin: 0 auto;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,.5);
    overflow: hidden;
}

.container .card .layer{
    position: absolute;
    top: calc(10% - 2px);
    top: 100%;
    width: 100%;
    left: 0;
    height: 100%;
    background: #43afe1;
    background: linear-gradient(#f46703, #e91e2f);
    z-index: 1;
    transition: 0.5s;
}

.container .card .content{
    position: relative;
    z-index: 2;
}

.container .card .content p{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.container .card .content .image{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 10px 40px rgba(0,0,0,.2);
}

.container .card .content .details h2{
    font-size: 18px;
    color: #fff;
}

.container .card .content .details h2 span{
    color:#03a9f4;
    font-size: 14px;
    transition: 0.5s;

}






.container .card2{
    position: relative;
    width: 350px;
    margin: 0 auto;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,.5);
    overflow: hidden;
}

.container .card2 .layer{
    position: absolute;
    top: calc(10% - 2px);
    top: 100%;
    width: 100%;
    left: 0;
    height: 100%;
    background: #43afe1;
    background: linear-gradient(#f46703, #e91e2f);
    z-index: 1;
    transition: 0.5s;
}

.container .card2:hover .layer{
    top:0;
}

.container .card2 .content{
    position: relative;
    z-index: 2;
}

.container .card2 .content p{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.container .card2 .content .image{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 10px 40px rgba(0,0,0,.2);
}

.container .card2 .content .details h2{
    font-size: 18px;
    color: #fff;
}

.container .card2 .content .details h2 span{
    color:#03a9f4;
    font-size: 14px;
    transition: 0.5s;

}

.container .card2:hover .content .details h2 span{
    color: #03a9f4;
}


