*, *::before, *::after, h6, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 50vw;
    height: 120vh;
    background: url(../img/octo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.container .card{
    position: relative;
    width: 320px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    overflow: hidden;
    background-color: rgb(196, 85, 255);
    margin-left: 10vw;
}


.container .card2:hover:before {
    bottom: 0;
}

.container .card div{
    position: relative;
    z-index: 2;
}

.container .card div h2{
    margin-bottom: 10px;
    font-size: 30px;
    transition: 0.5s;
    color: #000000;
}

.container .card div p{
    font-size: 18px;
    transition: 0.5s;
    color: #000000;
}

.container .card div a{
    margin-top: 20px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    background: #fff;
    color: #777;
    padding: 6px 10px;
    font-weight: 600;
    box-shadow: 0 2px 20px rgba(0,0,0,.05);
}



.container .card2{
    position: relative;
    width: 320px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    overflow: hidden;
    margin-right: 10vw;
}

.container .card2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-100% + 4px);
    width: 100%;
    height: 100%;
    background: rgb(146, 0, 194);
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.container .card2:hover:before {
    bottom: 0;
}


.container .card2 div{
    position: relative;
    z-index: 2;
}

.container .card2 div h2{
    margin-bottom: 10px;
    font-size: 30px;
    transition: 0.5s;
    color: #777;
}

.container .card2 div p{
    font-size: 18px;
    transition: 0.5s;
    color: #777;
}

.container .card2 div a{
    margin-top: 20px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    background: #fff;
    color: #777;
    padding: 6px 10px;
    font-weight: 600;
    box-shadow: 0 2px 20px rgba(0,0,0,.05);
}

.container .card2:hover div h2,
.container .card2:hover div p{
    color: #fff;
} 